.yarn
.next
dist
node_modules
out
public
styles
README.md
package.json
package-lock.json
.dockerignore
.env.local
.example.env.local
.gitignore
.gitlab-ci.yml
docker-compose.yml
DockerFile
tsconfig.json
.eslintrc.json